.body {
  background-color: turquoise;
  grid-column: 2/3;;
  grid-row: 2/4;
}
.box {
  background-color: magenta;
}
.boxes{
  height: 50px;
  width: 50px;
}
img{
  margin:10px;
  height:200px;
  width: 200px;
}
.header {
  background-color: navajowhite;
  grid-column: 1/3;
  grid-row: 1;
}
.footer {
  background-color: navy;
  grid-column: 1/3;
  grid-row: 4;
}
.sidebar {
  background-color: antiquewhite;
  width: 96px;
  border: 2px black solid;
  height: auto;
  grid-column: 1/2;
  grid-row: 2/4;
}
.seperators{
  display: flex;
  flex-direction: column;
  gap:150px;
}
.seperators li{
  list-style: none;
  text-decoration: underline;
}
.main {
  height:90vh;
  display: grid;
  grid-template-columns: 100px 3fr;
  grid-template-rows: 1fr 5fr 1fr;
}

.squarecontainer{
  display:flex;
  flex-direction: row;
  
}