.body {
  background-color: turquoise;
  grid-column: 2/3;;
  grid-row: 2/4;
}

.box {
  background-color: magenta;
}

img{
  margin:10px;
  height:200px;
  width: 200px;
}

.header {
  background-color: purple;
  color:white;
  text-align: center;
  font-size: 40px;
  border: blue 1px solid;
  padding-top:10px;
  grid-column: 1/3;
  grid-row: 1;
}

.footer {
  background-color: navy;
  grid-column: 1/3;
  grid-row: 4;
}

.sidebar {
  background-color: antiquewhite;
  color: white;
  width: 96px;
  border: 2px black solid;
  height: auto;
  grid-column: 1/2;
  grid-row: 2/4;
}

.seperators{
  display: flex;
  flex-direction: column;
  gap:150px;
}

.seperators li{
  list-style: none;
  text-decoration: underline;
}

.main {
  height:90vh;
  display: grid;
  grid-template-columns: 100px 3fr;
  grid-template-rows: 1fr 5fr 1fr;
}

.square-container{
  display:flex;
  width: 90vw;
  flex-direction: row; 
  justify-content: space-evenly;
}

.image-container{
  display:inline-block;
  position:relative;
}

.image-container img {
  display: block;
  height: 150px;
  width: 150px;
}

.overlay{
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #000000; 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
}

.copyrightNotice{
  color:white
}